In [9]:
import pandas as pd
from sqlalchemy import create_engine

## Storing CSV as Panda Dataframe

In [14]:
csv_file = "Resources/businesses.csv"
customer_data_df = pd.read_csv(csv_file, encoding="ISO-8859-1")
customer_data_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number
0,PR0000206,JOSYLN SENIOR CENTER,210 N CHAPEL AVE,ALHAMBRA,CA,91801,34.098526,-118.124767,626-960-2995
1,PR0000213,STARBUCKS COFFEE #9685,145 N CITRUS AVE,COVINA,CA,91723,34.087327,-117.890460,NaN
2,PR0000250,VFW POST NO. 6110,16555 SIERRA HWY,CANYON COUNTRY,CA,91351-1338,34.447567,-118.426207,661-252-9989
3,PR0000273,STABUCKS @ VONS #2066,18439 VENTURA BLVD,TARZANA,CA,91356,34.168381,-118.534570,NaN
4,PR0000278,COCOHODO TORRANCE,2734 SEPULVEDA BLVD,TORRANCE,CA,90505,33.822488,-118.333178,310-530-3875

## Create new data with select columns

In [13]:
new_customer_data_df = customer_data_df[['business_id', 'name', 'address','city','state','postal_code' ]].copy()
new_customer_data_df.head()

,business_id,name,address,city,state,postal_code
0,PR0000206,JOSYLN SENIOR CENTER,210 N CHAPEL AVE,ALHAMBRA,CA,91801
1,PR0000213,STARBUCKS COFFEE #9685,145 N CITRUS AVE,COVINA,CA,91723
2,PR0000250,VFW POST NO. 6110,16555 SIERRA HWY,CANYON COUNTRY,CA,91351-1338
3,PR0000273,STABUCKS @ VONS #2066,18439 VENTURA BLVD,TARZANA,CA,91356
4,PR0000278,COCOHODO TORRANCE,2734 SEPULVEDA BLVD,TORRANCE,CA,90505

## Storing JSON file as Dataframe

In [2]:
json_file = "Resources/inspection.json"
inspection= pd.read_json(json_file, orient='records')
inspection

       business_id      date description  score     type
0        PR0014182  20170207                 95  Routine
1        PR0005730  20161216                 99  Routine
2        PR0003877  20170105                 96  Routine
3        PR0014471  20180921                 98  Routine
4        PR0003383  20170818                 99  Routine
5        PR0002000  20161220                100  Routine
6        PR0019930  20170201                 99  Routine
7        PR0010463  20161103                 98  Routine
8        PR0019356  20170309                100  Routine
9        PR0005769  20170309                 92  Routine
10       PR0010538  20170310                 91  Routine
11       PR0011153  20170503                 93  Routine
12       PR0005118  20170515                 95  Routine
13       PR0005769  20170623                 99  Routine
14       PR0003830  20170830                100  Routine
15       PR0002310  20180906                 94  Routine
16       PR0013036  20181116                 97  Routine
17       PR0002857  20190222                 98  Routine
18       PR0021763  20170428                 99  Routine
19       PR0015942  20170125                 96  Routine
20       PR0013627  20180410                 94  Routine
21       PR0004434  20171213                 97  Routine
22       PR0017472  20181101                 97  Routine
23       PR0003152  20180607                 96  Routine
24       PR0014985  20181018                 98  Routine
25       PR0019029  20171211                 97  Routine
26       PR0013890  20161012                 99  Routine
27       PR0012355  20180717                 94  Routine
28       PR0005790  20181130                 92  Routine
29       PR0003484  20170517                 93  Routine
...            ...       ...         ...    ...      ...
143719   PR0190705  20180309                 97  Routine
143720   PR0201610  20190213                 90  Routine
143721   PR0212921  20180726                 95  Routine
143722   PR0201914  20190130                 91  Routine
143723   PR0192590  20181102                 93  Routine
143724   PR0190066  20180514                 92  Routine
143725   PR0189785  20181016                 90  Routine
143726   PR0220396  20190129                 99  Routine
143727   PR0193247  20171214                 95  Routine
143728   PR0214516  20181206                 91  Routine
143729   PR0191417  20170217                 96  Routine
143730   PR0207183  20180315                 96  Routine
143731   PR0216312  20181126                 95  Routine
143732   PR0194297  20180206                 96  Routine
143733   PR0194085  20170519                 92  Routine
143734   PR0198133  20180723                 94  Routine
143735   PR0193485  20171030                 97  Routine
143736   PR0197823  20170905                 90  Routine
143737   PR0190545  20170105                 93  Routine
143738   PR0198416  20170915                 94  Routine
143739   PR0194194  20180117                 96  Routine
143740   PR0192902  20171102                 97  Routine
143741   PR0193303  20180808                 95  Routine
143742   PR0214517  20190129                 80  Routine
143743   PR0200679  20180302                 94  Routine
143744   PR0193493  20170915                 99  Routine
143745   PR0200284  20171228                 84  Routine
143746   PR0199529  20170914                 97  Routine
143747   PR0191379  20170418                100  Routine
143748   PR0190613  20181016                 95  Routine

[143749 rows x 5 columns]

## Cleaning Dataframe

In [4]:
df = inspection[["business_id","date", "score"]].copy()
df.head()

  business_id      date  score
0   PR0014182  20170207     95
1   PR0005730  20161216     99
2   PR0003877  20170105     96
3   PR0014471  20180921     98
4   PR0003383  20170818     99

In [62]:
#out=clean_df.to_json(orient='records', lines=True)
#with open('new3_business.json', 'w') as f:
#    f.write(out)

## Connecting to local database

In [31]:
## Are we using SQL or MONGODB. IF SQL, we can use this

In [ ]:
rds_connection_string = "soren:strongpassword@localhost/customer_db"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [ ]:
engine.table_names()